@model NewsTrack.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="row border-box">
    <div class="title">Reset password</div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Please fix following error", new { @class = "text-danger" }, "strong")
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "input-sm form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "input-sm form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-sm form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default btn-sm" value="Reset" />
        </div>
    }
</div>